h1 {
	font-size: 20px;
	color: rgba(255, 255, 255, 1);
}

h2 {
	font-size: 18px;
	color: rgba(255, 255, 255, 1);
}

h3 {
	font-size: 16px;
	color: rgba(255, 255, 255, 1);
}

h4 {
	font-size: 14px;
	color: rgba(255, 255, 255, 1);
}

h5 {
	font-size: 12px;
	color: rgba(255, 255, 255, 1);
}
.navbar {
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 24px;
	position: relative;
	z-index: 3;
	background: rgba(61, 55, 89, 1);
	border-bottom: 1px solid rgba(231, 227, 252, 0.23);
}
.logo-navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 272px;
	height: 100%;
	border-right: 1px solid rgba(231, 227, 252, 0.23);
}
.search {
	position: relative;
	height: 100%;
	display: flex;
	align-items: center;
	flex-grow: 1;
}
.input-search {
	background-color: rgba(231, 227, 252, 0.04);
	border: none;
	outline: none;
	border-radius: 50px;
	padding: 12px 40px 12px 40px;
	color: var(--text-light-secondary);
	width: 100%;
}
.input::placeholder {
	color: var(--text-light-secondary);
}
.search-icon {
	position: absolute;
	top: 28px;
	left: 10px;
}
.profile {
	width: 300px;
	height: 100%;
	display: flex;
	align-items: center;
	border-left: 1px solid rgba(231, 227, 252, 0.23);
	padding: 18px 0px 18px 40px;
	gap: 36px;
}
.bell-frame {
	display: flex;
	align-items: center;
	justify-content: center;
	max-height: 44px;
	max-width: 44px;
	border-width: 1px;
	border-radius: 4px;
	padding: 10px;
	gap: 10px;
	background: #5A5266;
}
.notification-circle {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 26px;
	height: 26px;
	border-width: 1px;
	border-radius: 100%;
	gap: 10px;
	background: rgba(247, 167, 1, 1);
	position: absolute;
	top: 5px;
}
.avatar-frame {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	max-width: 140px;
	max-height: 44px;
	gap: 16px;
}
.bell-frame {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	max-height: 44px;
	max-width: 44px;
	border-width: 1px;
	border-radius: 4px;
	background: #5A5266;
}
.notification-circle {
	position: absolute;
	top: -5px;
	right: -5px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 26px;
	height: 26px;
	border-width: 1px;
	border-radius: 100%;
	gap: 10px;
	background: rgba(247, 167, 1, 1);
}
.avatar-frame {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	max-width: 140px;
	max-height: 44px;
	gap: 16px;
}
.hamburger-icon {
	position: absolute;
	right: 30px;
	top: 30px;
	display: none;
	cursor: pointer;
}
.arrow-icon {
	position: absolute;
	left: 30px;
	top: 30px;
	display: none;
}
#sidebar {
	width: 272px;
	background-color: var(--background-navbar);
	padding: 16px 40px 16px 40px;
	border-right: 1px solid rgba(231, 227, 252, 0.23);
}
.flex-content {
	display: flex;
}
main {
	padding: 40px;
	width: 100%;
	height: 100%;
	overflow: hidden;
  }
.container1 {
	padding-bottom: 32px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}
.container2 {
	padding-bottom: 32px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}
.container3 {
	margin-top: 30px;
}
.container-heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.album-image {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	width: 100%;
	overflow-x: auto;
	white-space: nowrap;
	scrollbar-width: none;
	gap: 10px;
}
.card-flex {
	display: flex;
	flex-direction: row;
	gap: 16px;
	overflow: hidden;
}
.music-card {
	max-height: 198px;
	max-width: 257px;
	border-radius: 4px;
	padding: 12px;
	background: rgba(61, 55, 89, 1);
}
.cover-album {
	width: 124px;
	height: 124px;
}
.two-album {
	height: 62px;
	display: flex;
	flex-direction: row;
}
.music-name {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 10px;
}
.music-title {
	display: flex;
	flex-direction: column;
}
.three-dots {
	width: 24px;
	height: 24px;
}
.songlist {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 20px;
	margin-top: 20px;
}
.song-card {
	display: flex;
	flex-direction: row;
	height: 74px;
	width: 312px;
	border-radius: 4px;
	padding: 12px;
	background: rgba(61, 55, 89, 1);
}
.song-title {
	width: 230px;
	height: 49px;
	display: flex;
	flex-direction: column;
	align-self: center;
	gap: 4px;
}
.song-image {
	padding-right: 10px;
	border-radius: 4px;
	width: 50px;
	height: 50px;
}
.menu {
	width: 192px;
	height: 334px;
}
.sidebar-menu {
	width: 192px;
	max-height: 56px;
	padding-top: 16px;
	padding-bottom: 16px;
}
.sidebar-item {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
}
.sidebar-selected {
	right: 200px;
	position: absolute;
	width: 6px;
	height: 16px;
	border-width: 1px;
	border-radius: 2px;
	background-color: rgba(247, 167, 1, 1);
}
.myMusic {
	height: 166px;
	width: 192px;
}
.myPlaylist {
	width: 192px;
	height: 370px;
}
.myPlaylist-menu {
	width: 192px;
	max-height: 56px;
}
.myPlayList-item1 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 16px;
	padding-bottom: 16px;
}

.myPlayList-item2 {
	display: flex;
	flex-direction: row;
	justify-content: start;
	gap: 8px;
	padding-bottom: 6px;
}

.myPlaylist-button {
	max-width: 61px;
	max-height: 28px;
	border-width: 1px;
	border-radius: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 10px;
	padding-right: 10px;
	gap: 4px;
	background-color: rgba(40, 36, 61, 1);
	text-align: center;
}

.myPlaylist-card {
	display: flex;
	flex-direction: row;
	align-items: center;
	max-width: 192px;
	max-height: 70px;
	border-width: 1px;
	border-radius: 4px;
	padding-top: 10px;
	padding-bottom: 10px;
	gap: 10px;
}

.myPlaylist-song {
	display: flex;
	flex-direction: column;
	max-width: 132px;
	max-height: 49px;
	gap: 8px;
}

.song-bar {
	width: 100%;
	height: 114px;
	border-top: 1px solid rgba(231, 227, 252, 0.23);
	background-color: #312d4b;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 12px 40px 12px 40px;
	position: fixed;
	bottom: 0;
}

.song-bar-control {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 400px;
	height: 90px;
	gap: 12px;
	align-items: center;
}

.playingSong {
	display: flex;
	align-items: center;
}

.playAndPause {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 308px;
	height: 56px;
	gap: 32px;

}

.pauseIcon {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 24px;
	width: 188px;
	height: 56px;
}

.duration {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 400px;
	height: 22px;
	gap: 10px;

}

.song-bar-volume {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 250px;
	height: 24px;
	gap: 24px;
	align-items: center;
}

.volumeControl {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 200px;
	height: 24px;
	gap: 12px;
}

.align {
	display: flex;
	align-items: center;
}

.song-bar-title {
	display: flex;
	flex-direction: row;
	align-items: center;
	max-width: 250px;
	height: 74px;
	border-width: 1px;
	border-radius: 4px;
	gap: 16px;
}

.song-bar-artist {
	display: flex;
	flex-direction: column;
	max-width: 160px;
	max-height: 57px;
	gap: 4px;
}

@media only screen and (max-width: 640px) {
	.logo-navbar {
		border: none;
		justify-content: center;
		width: 100%;
	}
	.hamburger-icon {
		display: block;
	}
	.arrow-icon {
		display: block;	
	}
	.search {
		display: none;
	}
	.profile {
		display: none;
	}
	#sidebar {
		display: none;
	}
	.songlist {
	height: 280px;
	overflow: hidden;
	overflow-y: auto;
	scrollbar-width: none;
	}
	.song-bar {
	display: none;
	}
}